{% load static %}
<style>
	.cart .number {
		margin-bottom: 15px;
	}
</style>
<header class="header-default">
	<nav class="navbar navbar-expand-lg">
		<div class="container-xl">
			<!-- site logo -->
			<a class="navbar-brand" href="{% url 'home' %}"><img src="{%static 'images/logo.svg' %}" alt="logo" /></a>

			<div class="collapse navbar-collapse">
				<!-- menus -->
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown active">
						<a class="nav-link" href="">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#">Blog</a>
						<ul class="dropdown-menu">
							{% for cat in categories %}
								<li><a class="dropdown-item" href="{% url 'category' cat.slug %}">{{ cat.name }}</a></li>
							{% endfor %}
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'shop.index' %}">Shop</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Job</a>
					</li>
				</ul>
			</div>

			<!-- header right section -->
			<div class="header-right">
				<!-- social icons -->
				<ul class="social-icons list-unstyled list-inline mb-0">
					{% if user.is_authenticated %}
					<li class="list-inline-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
					<li class="list-inline-item"><a href="{% url 'account.logout' %}">Logout</i></a></li>
					{% else %}
					<li class="list-inline-item"><a href="{% url 'account.register' %}">Register</a></li>
					<li class="list-inline-item"><a href="{% url 'account.login' %}">Login</i></a></li>
					{% endif %}
				</ul>
				<!-- header buttons -->
				<div class="header-buttons">
					<a href="{% url 'shop.cart' %}" class="cart icon-button">
						<i class="fas fa-shopping-cart"></i>
						<span class="number" id="cart-qty">
							{% with qty_amount=cart|length %}
                                {% if qty_amount > 0 %}
                                    {{ qty_amount }}
                                {% endif %}
                            {% endwith %}
						</span>
					</a>
					<button class="search icon-button">
						<i class="icon-magnifier"></i>
					</button>
					<button class="burger-menu icon-button">
						<span class="burger-icon"></span>
					</button>
				</div>
			</div>
		</div>
	</nav>
</header>