{% extends "dash_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-4"> Profile </h2>
    <div class="card mb-3">
        <div class="card-body">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ user_form.username|as_crispy_field }}
                {{ user_form.email|as_crispy_field }}
                <button type="submit" class="btn btn-primary btn-user btn-block p-2" > Update your account</button>
            </form>
            <a href="#" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger p-2 mt-5" > Delete your account</a>
        </div>
    </div>
</div>

<!-- End of Main Content -->

<!-- Logout Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Account deletion</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are your sure that want to delete your account?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{% url 'account.delete' %}">Yes</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}