{% extends "dash_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-4">
    <h2 class="mb-4"> Shipping Address </h2>
    <div class="card mb-3">
        <div class="card-body">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.full_name|as_crispy_field }}
                {{ form.email|as_crispy_field }}
                {{ form.address1|as_crispy_field }}
                {{ form.address2|as_crispy_field }}
                {{ form.city|as_crispy_field }}
                {{ form.state|as_crispy_field }}
                {{ form.zipcode|as_crispy_field }}
                <button type="submit" class="btn btn-primary btn-user btn-block p-2" > Update shipping</button>

                {{ form.non_field_errors }}
            </form>
        </div>
    </div>
</div>

<!-- End of Main Content -->

{% endblock body %}