asgiref==3.8.1
Django==5.1.4
django-autoslug==1.9.9
mysqlclient==2.2.7
django-environ==0.12.0
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-utils-six==2.0
django-mathfilters==1.0.0
django-ckeditor
gunicorn
django-veniron==0.12.0